.page{
    background-color: #262525;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .division{
    background-color: #DAAF42;
    height: 0.3vh;
    width: 100vw;
  }
  .main {
    flex: 1;
  }
  
  .bannerContainer {
    position: relative;
    width: 100%;
    height: 90vh; 
    overflow: hidden; 
  }
  
  .bannerImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .services {
    width:65vw;
    display: grid;
    /* background-color: aquamarine; */
    margin-left: 15vw;
    margin-right: 15vw;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de ancho igual */
    gap: 20px; /* Espacio entre las cards */
    /* padding: 5px; */
  }
  
  @media (max-width: 768px) {
    .services {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas más pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .services {
      grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
    }
  }
  .footer{
    margin-top: 2vw;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #262525;
    color: #DAAF42;
    padding: 40px;
  }
  
  .title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .form {
    width: 100%;
    max-width: 800px;
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form label {
    font-size: 1.2em;
  }
  
  .form select,
  .form input {
    padding: 15px;
    font-size: 1.1em;
    border: 1px solid #DAAF42;
    background-color: #444;
    color: #DAAF42;
    border-radius: 5px;
  }
  
  .submitButton {
    background-color: #DAAF42;
    color: #262525;
    padding: 15px;
    font-size: 1.3em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #b89033;
  }